a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

.about {
  border-radius: 9px;
  margin: 15% auto 10% auto;
  padding-top: 20px;
  font-size: 30px;
  background: rgb(233, 233, 233);
  height: 0%;
  font-family: "Monaco", "Courier New";
  text-align: left;
  font-size: 13px;
  color: #fafafa;
  width: 55%;
}

#console {
  // padding: 20px;
  height: 30%;
  margin: 0 auto;
  background: #2d2d3e;
  width: 100%;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.contents {
  padding: 2%;
}

span.term {
  color: rgb(255, 255, 255);
  padding-left: 20px;
}

@media (max-width: 800px) {
  .about {
    margin-top: 25%;
    width: 95%;
  }
}
